</main>

<footer>
  <!-- Step 4 - Add a dynamic year to the footer using JS. -->
   <% const year = new Date(); %>
   <% X = year.getFullYear() %>
   
  <p>Copyright © <%= X %></p>
</footer>
</body>

</html>